<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MLVLibServiceSoapBinding" />
                <binding maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
                <binding name="SellingServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BilManCampRest/services/MLVLibService"
                binding="basicHttpBinding" bindingConfiguration="MLVLibServiceSoapBinding"
                contract="LibService.MLVLibService" name="MLVLibService" />
            <endpoint address="http://localhost:8080/BilManCampRest/services/SellingService"
                binding="basicHttpBinding" bindingConfiguration="SellingServiceSoapBinding"
                contract="SellingService.SellingService" name="SellingService" />
        </client>
    </system.serviceModel>
</configuration>