/* Basic CSS description of my own visual of Java FX. 
 * Copyright Jefferson 2016.
 */
 
/*
@font-face{	
	-fx-font-family: 'SF UI DisplayHeavy';
    src: url("/fonts/SF-UI-Display-Heavy.otf");
}
*/
 
 /* Size of the scene */
 .sceneSize {
 	-fx-pref-width: 1200.0;
 	-fx-pref-height: 800.0;
 }
 
 /* COLORS */
 .blackBackground {
 	-fx-background-color: #1f1f1f;
 }
 
 .black50Background {
 	-fx-background-color: #1f1f1f99;
 }
 
 .noBackground, #cancelButton {
 	-fx-background-color: none;
 }
 
 .orangeText, #connexionTitle {
 	-fx-fill: #e37b04;
 }
 
 .whiteText, #connexionSubTitle {
 	-fx-fill: #ffffff;
 }
 
 .orangeBackground, #bigOrangeButton {
 	-fx-background-color: #e37b04;
 }
 
 .white70Background, #connexionFooter {
 	-fx-background-color: #ffffffB3;
 }
 
 .white70Text {
 	-fx-fill: #ffffffB3;
 }
 
 .white50Text {
 	-fx-fill: #ffffff80;
 }
 
 .noBorderNoStroke {
 	-fx-border-color: none;
 	-fx-stroke-width: 0.0;
 }
 
/* Buttons */
 #bigOrangeButton {
	-fx-text-fill: #ffffff;
	-fx-border-radius: 0.0;
	-fx-pref-width: 192.0px;
	-fx-pref-height: 58.0px;
	-fx-background-radius: 0.0;
 }
 
 #bigOrangeButton:hover {
	-fx-text-fill: #000000;
 }
 
 #signUpPrompt{
 	-fx-background-color: #ffffff;
 	-fx-pref-width: 180.0px;
 	-fx-pref-height: 46.0px;
 	-fx-max-width: 180.0px;
 	-fx-max-height: 46.0px;
 	-fx-min-width: 180.0px;
 	-fx-min-height: 46.0px;
 }




 
.combo-box .cell {
	-fx-background-color: #1f1f1f;
	-fx-text-fill: #ffffff;
	-fx-font-family: "SD UI Text Regular";
	-fx-font-size: 24;
}

.my-list-cell {
	-fx-background-color: #1f1f1f;
	-fx-text-fill: #ffffff;
}

.combo-box-popup .list-view {
    -fx-background-color: #1f1f1f;
    -fx-background-insets: 0.0, 1.0;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 8.0, 0.0 , 0.0 , 0.0 );*/
}

/* Not selected in the pop-up. */
.combo-box-popup .list-view .list-cell {
    -fx-padding: 4.0 0.0 4.0 5.0;

    /* No alternate highlighting */
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view {
    -fx-background: -fx-accent;
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1f1f1f;
}
 
 .combo-box-base {
-fx-background-color: none ; 	
}

/*
 .combo-box-base:focused {
-fx-background-radius: 6.4, 4.0, 5.0, 3.0;
-fx-background-insets: -1.4, 0.0, 1.0, 2.0;
}
*/
 
 
 
 #loginPrompt {
 	-fx-background-color: #ffffff;
 	-fx-pref-width: 192.0px;
 	-fx-pref-height: 58.0px;
 	-fx-max-width: 192.0px;
 	-fx-max-height: 58.0px;
 	-fx-min-width: 192.0px;
 	-fx-min-height: 58.0px;
 }
 
 #cancelButton {
 	-fx-text-fill: #ffffff80;
 }
 
 /* Titles */
 #connexionTitle {
 }
 
 #connexionSubTitle {
 }
 
 #connexionFooter {
 	-fx-fill: #ffffffB3;
 }